* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Fira Sans', sans-serif;
    color: #808080;
    background: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px
}

.ul {
    margin: 0px;
    padding: 0px;
}
/* Info Bar Styles */
#top-bar {
    background-image: url(../img/nav-bkg.jpg);
    color: #5e5e5e;
    font-size: 13px;
    letter-spacing: 0.3px;
    min-height: 37px;
}

.container-top-bar {
    display: flex;
    margin: auto;
   justify-content: space-between;
    padding: 10px;
    width: 1130px;
}

.left {
    display: flex;
}

.language a {
    text-decoration: none;
    color: #808080;
}

.language a:hover {
    color: #649a58;
}

.currency a {
    padding: 0px 20px;
    text-decoration: none;
    color: #808080;
}

.currency a:hover {
    color: #649a58;
}

.welcome p {
    margin: 0px;
    font-size: 11px;
    letter-spacing: 0.3px;
    line-height: 16px;
}

.right {
    font-size: 13px;
    letter-spacing: 0.3px;
    line-height: 16px;
}

.myAccount a {
    text-decoration: none;
    color: #808080;
}

.myAccount a:hover {
    color: #649a58;
}

/* Navbar Styles */
#navbar {
    margin: auto;
    height: auto;
    width: 100%;
    z-index: 99;
    
}

.container-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    margin: auto;
    width: 1130px;
    max-width: 100%
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul {
    padding: 0px 50px;
}

.nav ul li {
    display: inline-block;
    position: relative;
    float: none;
    z-index: 20;
    background-color: transparent;
   
}

.nav ul li a {
    color: #808080;
    ;
    margin-right: 30px;
    font-size: 14px;
    line-height: 1.5px;
    text-decoration: none;
    padding: 0px 15px;
}

.nav ul li a:hover {
    color: #649a58;
}

.cart-basket{
    text-decoration: none;
    padding: 0;
    color: #649a58;
    background: #f5f5f5;
    font-size: 0;
    display: block;
    text-align: right;
    transition: none;
    width: 92px;
    height: 47px;
}


.search a {
    color: #243238;
    font-size: 20px;
    height: 22px;
    width: 22px;
}

.search a:hover {
    color: #649a58;
}

.basket a {
    font-size: 25px;
    color: #243238;
   
}
.basket a i{
    margin: 10px;
    margin-right: 50px;
}

.basket a:hover {
    color: #649a58;
}

.btn-z {
    border: none;
    cursor: pointer;
    color: #ffffff;
    background: #649a58;
    width: 32px;
    height: 32px;
    font-size: 16px;
    position: absolute;
    top: 88px;
    right: 212px;
}

.btn-z:hover {
    background-color: black;
}
#slide {}

.slider img {
    padding: 15px 0px;
    border: 1px solid rgb(245, 223, 223);
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.btn {
    height: 52px;
    width: 52px;
    color: white;
    background-color: #649a58;
    border: 10px double;
    cursor: pointer;
    text-align: center;
    line-height: 35px;
}

.btn:hover {
    background: #000000;
    color: white
}

.sliderArrows {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 40%;
    margin: 30px 0 0;
    z-index: 10;
    transition: all .3s ease;
    /* opacity: 0; */
}

#block-container {
    display: none;
    height: 400px;
    padding: 60px;
    width: 90%;
}

.image-container {
    margin: auto;
    width: 70%;
    display: flex;
    padding-top: 70px;
    padding-bottom: 140px;
}

.image {
    padding-right: 90px;
    display: flex;
}

.image-container a {
    text-decoration: none;
    color: black;
    font-size: 50px;
    display: inline-block;
}

.img {
    height: 400px;
    padding: 20px 0px;
}

.cate-title {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.cate-title a {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    letter-spacing: 0px;
    text-transform: uppercase;
    word-wrap: break-word;
    max-width: 13px;
    color: #ffffff;
    padding: 15px 15px;
    background: #649a58;
}

#top-products {
    width: 100%;
    height: auto;
    text-align: center;
    background-image: url('../img/producttab-bkg.png');
}

.top-products {
    width: 100%;
}

.products h1 {
    font-size: 36px;
    margin-bottom: 45px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 100px 10px 50px;
    padding: 15px 50px;
    overflow: hidden;
}

.buttons button {
    background-color: #f5f5f5;
    margin: 0px 10px;
    padding: 15px 50px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

.buttons button:hover {
    background-color: #649a58;
    color: white;
}

.buttons button.active {
    background-color: #649a58;
    color: white;
}

.buttons a:hover {
    background-color: #649a58;
    color: white;
}

.col-12 {}

.project-items {
    margin: 0px 0px;
}

.project-items-row {
    width: 100%;
    display: flex;
    padding: 20px 0px;
    align-items: center;
    justify-content: center;
}

.project-item {
    margin: 0;
    height: auto;
}

.stars {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-item p {
    color: #649a58;
}

.project-item span {}

.product {
    position: relative;
    height: 394px;
    overflow: hidden;
    margin-bottom: 20px;
    width: 254px;
    margin-right: 25px;
}

.product:hover .social {
    margin-right: 0px;
}

.photo,
.info,
.social {
    position: absolute;
}

.photos {
    height: 350px;
    width: 100%;
    position: relative;
}

.photos img:nth-child(1) {
    opacity: 1;
    z-index: 1
}

.photos img:nth-child(2) {
    opacity: 0;
    z-index: 2;
}

.photos:hover img:nth-child(1) {
    opacity: 0;
    z-index: 1
}

.photos:hover img:nth-child(2) {
    opacity: 1;
    z-index: 2
}

.photos img {
    height: 350px;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all .3s ease;
}

.info {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.stars {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: .8em;
    letter-spacing: 5px;
    color: lightgray;
}

.stars i:nth-child(n+4) {
    color: #ffba00;
}

.social {
    right: 17px;
    top: 134px;
    display: flex;
    flex-direction: column;
    margin-right: -40px;
    transition: all .3s ease;
    z-index: 4
}

.social>span {
    margin: 22px;
}

.social i:after {
    content: 'Wishlist',
}

.social-item {
    position: relative
}

.social-item span {
    position: absolute;
    top: 0px;
    right: 10px;
    padding: 10px 15px;
    background: rgba(0, 0, 0, .8);
    color: white;
    opacity: 0;
    transition: all .3s ease;
    width: 120px;
}

.social-item span:after {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    top: 11px;
    right: -10px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid rgba(0, 0, 0, .8);
    border-right: 5px solid transparent;
}

.social-item i {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    background: #649a58;
    color: white;
}

.social-item:hover span {
    opacity: 1;
}

.img-slider {
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url('../img/cms-banner-1.jpg');
    max-width: 100%;
    background-position: center;
}

.img-slider-content {
    padding: 232px 0px 151px 906px;
}

.img-slider-content p {
    color: #ffffff;
    width: auto;
    padding: 5px 32px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1.5px;
    background-color: #649a58;
    margin-bottom: 12px;
    display: inline-block;
    box-sizing: border-box;
}

.img-slider-content h1 {
    font-size: 57px;
    font-weight: bold;
    margin-top: 20px;
    line-height: 60px;
    font-weight: 700;
    padding-bottom: 54px;
    color: #000000;
}

.img-slider-content h3 {
    color: #3c3c3c;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 1px;
}

.f-products {
    width: 100%;
    height: 70px;
    text-align: center;
    font-size: 36px;
    margin-bottom: 45px;
    background-image: url(../img/producttab-bkg.png);
}

.fromourblog {
    width: 100%;
    height: 70px;
    text-align: center;
    font-size: 36px;
    margin-bottom: 45px;
}

.blog-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.blog-item {
    width: 30%;
}

.blog-item img {
    height: 257px;
    width: 100%;
    object-fit: cover;
}

.blog-item h4 a {
    font-size: 20px;
    color: #333;
    text-decoration: none;
}

.blog-item h4 a:hover {
    color: #649a58;
}

.blog-item p {
    font-size: 15px;
    color: #999;
}

.blog-item img {
    height: 257px;
    width: 100%;
    object-fit: cover;
}

.brend-images {
    padding: 70px 0px;
    margin: auto;
    width: 1166px;
}

.brend-container {
    width: 100%;
}

.brend-container img {
    padding-right: 20px;
}

.footer-container {
    height: 400px;
    margin: 10px 50px;
    padding: 30px;
    background-image: url(../img/footer-pattan-right.png);
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 10px;
    position: relative;
}

background-image: url(../img/footer-pattan-left.png);
background-image: url(../img/footer-pattan-right.png);
.h2 {
    color: #000000;
}

.footer-blok {
    margin-right: 90px;
}

.footer-blok ul {
    list-style: none;
    padding: 0;
    padding-right: 20px;
}

.footer-blok ul li {
    margin: 30px 0px;
    color: #a4a4a4;
}

.extra-link {
    margin-right: 30px;
}

.extra-link ul {
    list-style: none;
    padding: 0;
    padding-right: 100px;
}

.extra-link ul li {
    margin: 30px 0px;
    color: #a4a4a4;
}

.my-account {
    margin-right: 90px;
}

.my-account ul {
    list-style: none;
    padding: 0;
    padding-right: 50px;
}

.my-account ul li {
    margin: 30px 0px;
    color: #a4a4a4;
}

.contact ul {
    list-style: none;
    padding: 0;
    padding-right: 30px;
}

.contact ul li {
    margin: 30px 0px;
    color: #a4a4a4;
}

.contact ul li i {
    padding: 0px 10px;
    color: #649a58;
}

.block-social ul li {
    display: inline-block;
    color: #a4a4a4;
    padding: 10px;
    font-size: 20px;
    height: 0px;
    margin: 0px;
}

.block-social ul li i {
    color: #a4a4a4;
}

.foot {
    background: #f7f1db;
    height: 50px;
    display: flex;
    font-size: 18px;
    justify-content: flex-end;
}

.kidpay {
    height: 50px;
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 20px;
}

.toys {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.kidpay span {}

.mail {
    background: #f7f1db;
    height: 50px;
    width: 25%;
    display: flex;
}

.mail input {
    font-size: 12px;
    letter-spacing: .6px;
    font-weight: 400;
    color: #262626;
    padding: 18px 0px;
    width: 75%;
    border: none;
    height: 100%;
    text-align: center;
}

.plane {
    border: none;
    height: 100%;
    width: 10%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.plane :hover {
    color: #649a58;
}