*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    color: #555;
    background: #fff;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.5
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
  }

    /* Home Styles */
#home{
    background-image: url(../img/fullscreendark.jpg);
    height: 730px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
}
.container-home{
    /* background: #222 */
    text-decoration: none;
}
.navbar{
    border: 1px solid white;  
 position: absolute;
 
}
.navbar-nav {
    width: 60px;
    background-color: #333;
    border-radius: 30px;
  }
  
  .navbar-nav a {
    display: block;
    text-align: center;
    padding: 16px;
   color: white;
   }
  
.bars{
    border: 1px solid white;
    height: 70px;
    width: 70px;
    border-radius: 50%;
  
}
.bars a{
    font-size: 50px;
    text-align: center;
    margin: 10px;
    text-decoration: none;
}
.bars:hover{
    
}
.freelancer{
    border: 1px solid red;
    margin-left: 800px;
    
}
.IM{
    padding-bottom: 30px;
    color: white;
}
.btn button{
    padding: 15px 40px;
    border-radius: 30px;
    margin-left: 20px;
    border: 1px solid  #ffb400;
}
.btn button:hover{
    background-color: #ffb400;
    color: white;
}
 /* About Styles */
 #about{
     border: 1px solid yellow;
     background-color: #222;
     color: white;
 }
 .container-about{
     border: 1px solid red;
     position: relative;
 }
 .container-text{
     border: 1px solid green;
     text-align: center;
   
 }
 .col-12{
    display: flex;
    border-bottom: 1px solid grey;
    margin: 0px 200px ;

 }
 .col-6{
    border: 1px solid purple;
    width: 100%;
   
 }
 .name-work{
     display: flex;
     height: 400px;
}
 .name{
    border: 1px solid blue;
    padding: 20px;
 }
 .work{
    border: 1px solid brown;
    padding: 20px;
 }
 .cv{
    border: 1px solid yellowgreen;
 
 }
 .cv button{
    padding: 20px;
    border-radius: 40px;
    background-color: #ffb400;
    width: 300px;
    color: white;
    font-size: 16px;
   
 }
 .cv button i{
     padding-right: 15px;
 }
 .row{
    margin: 0px 200px;
     display: flex;"
 }
 .item{
     margin-left: 40px;
     padding-bottom: 50px;
 }
 .col{
    margin: 0px 200px;
    
 }
 .col4{
    border: 1px solid red;
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 2px solid #ffb400;
 }
 .skills{
     display: flex;
    
    
 }
 /* portfoli styls */
 #portfolio{}
 .container-portfolio{ margin: 0px 200px;
}
 .images{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr;
     grid-gap: 20px;
     
 }
 .images img{
    width: 100%;
    height: 100%;
    object-fit: cover
 }
 /* Content Stayls*/
 #contact{}
 .container-contact{}
 .contact{
    margin: 0px 200px;
 }