*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    color: #555;
    background: #fff;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.5
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
  }

    /* Home Styles */
#home{
    background-image: url(../img/fullscreendark.jpg);
    height: 730px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
}
.container-home{
    /* background: #222 */
    text-decoration: none;
}
.navbar{
    border: 1px solid white;  
 position: absolute;
 top:10px;
 left:40px;
 
}
.navbar-nav {
    width: 60px;
    background-color: #333;
    border-radius: 30px;
  }
  
  .navbar-nav a {
    display: block;
    text-align: center;
    padding: 16px;
   color: white;
   }
  
.bars{
    border: 1px solid white;
    height: 70px;
    width: 70px;
    border-radius: 50%;
  
}
.bars a{
    font-size: 50px;
    text-align: center;
    margin: 10px;
    text-decoration: none;
}
.bars:hover{
    
}
.freelancer{
   
    margin-left: 800px;
    width: 585px;
    
}
.IM{
    padding-bottom: 10px;
    color: white;
}
.btn button{
    padding: 15px 40px;
    border-radius: 30px;
    margin-right: 25px;
    border: 1px solid  #ffb400;
    background-color: #ffb400;
    color: #fff;
   font-weight: bold;
   cursor: pointer;
}
.btn button i{
padding-right: 11px;
}
.btn button:hover{
    background-color:#555;
}

 /* About Styles */
 #about{
    
     background-color: #222;
     color: white;
 }
 .container-about{
  
     position: relative;
 }
 .container-text{
   
     text-align: center;
     padding: 60px 0px 54px;
   
 }
 .container-text h2{
     font-size: 55px;
     
 }
  .container-text p{
     font-size: 15px;
     margin: 20px 0px 0px;
 }
 .col-12{
    display: flex;

    margin: 0px 200px ;

 }
 .image{
     border: 7px solid #ffb400;
  
 }
 .image img{
     height: 440px;
     width: 440px;
 }
 .col-6{
  
    width: 100%;
   margin-top: 26px;
  
 }
 .name-work{
     display: flex;
 
     font-size: 16px;
}
 .name{
  
    padding: 20px;
 }
 .name ul li{
     padding-bottom: 21px;
     
 }
 .name ul li span{
     padding-left: 20px;
 }
 .work{
    
    padding: 20px 40px;
 }
 .work ul li{
     padding-bottom: 21px;
 }
 .work ul li span{
     padding-left: 20px;
 }
 .cv{
   
 padding-left: 22px;
 }
 .cv button{
   border-radius: 26px;
    background-color: #ffb400;
     color: white;
    font-size: 16px;
    border: none;
    height: 46px;
    width: 230px;
 }
 .cv button:hover{
     background-color: #555;
 }
 .cv button i{
     padding-right: 15px;
 }
 .row{
    margin: 60px 200px;
     display: flex;
     border-top: 1px solid grey;
 }
 .item{
     border-left: 1px solid #ffb400;
     padding: 0px 39px 50px;
    line-height: 30px;
 }
 .bullet{
     border: 2px solid #ffb400;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    left: 193px;
    background: #222;
  
 }
 .bulet{
    border: 2px solid #ffb400;
    height: 15px;
    width: 15px;  
    border-radius: 50%;
    position: absolute;
    left: 753px;
    background: #222;
 }
 .col{
    margin: 0px 200px;
    
 }
 .col4{
  
    width: 100%;
    padding-bottom: 30px; 
 }
 .col4 img{
     height: 70px;
     width: 70px;
     margin-left: 147px;
 }
 .col4 h4{
    padding-bottom: 34px;
    font-size: 20px;
    text-align: center;
 }
 .skills{
     display: flex;
    }
    span i{
        padding-right: 10px;
    }

 /* portfoli styls */
 #portfolio{}
 .container-portfolio{ margin: 0px 200px;
}
 .images{
     position: relative;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr;
     grid-gap: 20px;

     
 }
 .images:hover .overlay {
    opacity: 1;
 }
 .images img{
   
    width: 100%;
    height: 100%;
    object-fit: cover;
 
 }
 .images img:hover{
    background-color: #ffb400;
 }
 .overlay{
     position: absolute;
    top: 23%;
    left: 10%;
 
 }
 .format{
    color: white;
    font-size: 20px;
    text-align: center;
 }
 /* Content Stayls*/
 #contact{}
 .container-contact{}
 .contact{
    margin: 0px 200px;
 }
 .col-8{
     margin-left: 300px;
 }
 .input{
     position: relative;
 }
 .col-6{
    
     margin-bottom: 30px;
 }
 .comment{
     position: absolute;
 }

 .col-8 input{
    border-radius: 30px;
    height: 30px;
    width: 340px;
    padding-left: 30px
 }
 .col-8 i{
     position: absolute;
     top: 5px;
     left: 7px;
     font-size: 16px;
 }