body{
    margin: 0px;
   }

.ul{
    margin: 0px;
    padding: 0px;
}

.top-bar{
    height: 38px;
    width: 1246;
    background-image:url(../img/nav-bkg.jpg);
    text-decoration: none;
    color: #5e5e5e;
}

.container-top-bar{
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: space-between;
    padding: 10px;
    

    }

.left{
    display: flex;
    

}

.Language a{
    text-decoration: none;
    color: #808080;
}

 .Currency a{
    padding: 0px 20px;
    text-decoration: none;
    color: #808080;
}
.welcome p{
    margin: 0px;
}
.right{
    
}
.MyAccount a{
    
    text-decoration: none;
    color: #808080;
}

.header{
    background: white;
    height:auto;
    width: 80%;
    margin: auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0px;
    margin: 0px;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav ul{
    padding: 0px 50px;
}

.nav ul li{
    display: inline-block;
    }

.nav ul li a{
    color: #808080;;
    margin-right:10px ;
    font-size: 16px;
    text-decoration: none;
    padding: 0px 15px;
    
}

 .search{
    color: black;
}
#slide{}
.slide{
    height: 400px;
    padding: 15px 0px;
    border: 1px solid rgb(245, 223, 223);
    background-image: url(../img/main-banner-1-1903x670.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#testimonials{
    background-image: url(../img/testimonials-bg.png);
    display: flex;
    height: 400px;
    padding: 70px ;
    
    width: 90%;
}
.image-container{
    margin: auto;
    width: 70%;
    
    
}
.img{
    height: 400px;
    padding: 20px 0px;
    display: inline block;
}
#top-products{
    height: 400px;
    

}