* {
    list-style: none;
    text-decoration: none;
}

body {
    margin: 0px;
    font-family: 'Fira Sans', sans-serif;
}

.ul {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

.top-bar {
    height: 38px;
    width: 1246;
    background-image: url(../img/nav-bkg.jpg);
    text-decoration: none;
    color: #5e5e5e;
}

.container-top-bar {
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: space-between;
    padding: 10px;
}

.left {
    display: flex;
}

.language a {
    text-decoration: none;
    color: #808080;
}

.language a:hover {
    color: #649a58;
}

.currency a {
    padding: 0px 20px;
    text-decoration: none;
    color: #808080;
}

.currency a:hover {
    color: #649a58;
}

.welcome p {
    margin: 0px;
    font-size: 11px;
    letter-spacing: 0.3px;
    line-height: 16px;
}

.right {
    font-size: 13px;
    letter-spacing: 0.3px;
    line-height: 16px;
}

.myAccount a {
    text-decoration: none;
    color: #808080;
}

.myAccount a:hover {
    color: #649a58;
}

.header {
    background: white;
    height: auto;
    width: 80%;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0px;
    margin: 0px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul {
    padding: 0px 50px;
}

.nav ul li {
    display: inline-block;
}

.nav ul li a {
    color: #808080;
    ;
    margin-right: 30px;
    font-size: 14px;
    line-height: 1.5px;
    text-decoration: none;
    padding: 0px 15px;
}

.nav ul li a:hover {
    color: #649a58;
}

.search a {
    color: #243238;
    font-size: 20px;
}

.search a:hover {
    color: #649a58;
}

.basket a {
    margin: 20px;
    font-size: 25px;
    color: #243238;
}

.basket a:hover {
    color: #649a58;
}

.btn-z {
    background-color: #649a58;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.btn-z:hover {
    background-color: black;
}

.fashion {
    height: 100px;
    width: 100%;
    background-image: url(../img/nav-bkg.jpg);
    display: flex;
    box-sizing: border-box;
    margin: 0px 0 50px;
    padding: 20px;
}

.home {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.home ul li {
    display: inline-flex;
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    padding-right: 20px;
}

.home ul li a {
    color: #262626;
    text-decoration: none;
}

.home ul li a:hover {
    color: #649a58;
    text-decoration: underline;
}

.container {
    height: 1500px;
    width: 100%;
}

.row {
    height: 700px;
    width: 100%;
    display: flex;
    list-style: none;
    text-decoration: none;
}

.col-5 {
    height: 695px;
    width: 28%;
    margin: 0px 0px 0px 50px;
}

.imgbag {}

.slider-container {
    width: 218%;
    padding-top: 10px;
}

.slider {
    width: 46%;
    height: 130px;
    overflow: hidden;
    border: 1px solid black;
    margin-right: 448px;
}

.slider .slider-frame {
    height: 100%;
    position: relative;
    transition: all .3s ease;
    left: 0px;
}

.slider .slider-frame .slider-item {
    display: inline-block;
    width: 124px;
    margin: 10px;
}

.slider .slider-frame .slider-item img {
    width: 80%;
    height: 115px;
    padding-left: 12px;
}

.btn {
    height: 30px;
    width: 30px;
    color: #000000;
    background-color: #f5f5f5;
    cursor: pointer;
    transition: all .3s ease;
    text-align: center;
    line-height: 30px;
}

.btn:hover {
    background: #000000;
    color: white
}

.sliderArrows {
    display: flex;
    justify-content: space-between;
    width: 28%;
    position: absolute;
    top: 103%;
}

.col-7 {
    margin-left: 30px;
}

.product {}

.caption {}

.caption h3 {
    font-size: 24px;
    font-weight: 400;
    padding: 0 0 5px;
    color: #649a58;
}

.stars {
    width: 100%;
    display: flex;
    color: #ffba00;
}

.write a {
    color: #000;
    margin: 10px;
}

.brand {
    padding-bottom: 15px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding-top: 15px;
    margin-bottom: 20px;
    color: #000;
}

.buttons {}

.qty {
    height: 150px;
    width: 100%;
}

.button {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    margin-top: 12px;
    background: #649a58;
    padding: 12px 33px;
    height: auto;
    width: auto;
    color: #ffffff;
    border: 1px solid #649a58;
}

.button:hover {
    border: 1px solid #000000;
    background-color: #000000;
}

.calendar {
    background-color: #649a58;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

.calendar:hover {
    background-color: black;
}

.medya {
    height: 25px;
    border: none;
    color: white;
    cursor: pointer;
    margin: 10px 10px;
    width: 110px;
    display: inline;
}

.hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.product1 {
    position: relative;
    height: 394px;
    overflow: hidden;
    margin-bottom: 20px;
    width: 254px;
    margin-right: 25px;
}

.product1:hover .social {
    margin-right: 0px;
}

.social {
    margin-top: 58px;
    right: 17px;
    top: 134px;
    display: flex;
    display: inline-block;
    flex-direction: column;
    margin-right: -40px;
    transition: all .3s ease;
    z-index: 4
}

.social>span {
    margin: 22px;
}

.social i:after {
    content: 'Wishlist',
}

.social-item {
    position: relative
}

.social-item span {
    position: absolute;
    top: 0px;
    right: 10px;
    padding: 10px 15px;
    background: rgba(0, 0, 0, .8);
    color: white;
    opacity: 0;
    transition: all .3s ease;
    width: 120px;
}

.social-item span:after {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    top: 11px;
    right: -10px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid rgba(0, 0, 0, .8);
    border-right: 5px solid transparent;
}

.social-item i {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    background: #649a58;
    color: white;
}

.social-item:hover span {
    opacity: 1;
}

.tab {
    display: flex;
    justify-content: center;
    margin: 100px 10px 50px;
    padding: 15px 50px;
    overflow: hidden;
}

.tab button {
    background-color: #f5f5f5;
    margin: 0px 10px;
    padding: 15px 50px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #649a58;
    color: white;
}

.tab button.active {
    background-color: #649a58;
    color: white;
}

.tab a:hover {
    background-color: #649a58;
    color: white;
}

.tabcontent {
    padding: 30px;
    border: 1px solid #ccc;
    margin: 50px;
    letter-spacing: 1px;
    color: #808080;
    font-size: 17px;
    line-height: 26px;
}

th {
    background-color: #ededed;
    text-align: left;
}

table,
th,
td {
    border: 1px solid #dddddd;
    border-collapse: collapse;
    padding: 15px;
}

.stars {
    width: 100%;
    display: flex;
    font-size: 13px;
    letter-spacing: 1px;
    color: lightgray;
    margin: 15px 0;
    margin: 0 0 15px;
    display: inline-block;
    width: 100%;
}

.stars i:nth-child(n+1) {
    color: #ffba00;
}

.radio {
    margin: 15px;
    font-size: 50px;
}

h4 {
    margin: 20px;
}

.pull-right {
    text-align: right;
}

.pull-right button {
    background-color: #649a58;
    color: white;
    margin: 0px 10px;
    padding: 15px 50px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

.pull-right button:hover {
    background-color: black;
    color: white;
}